@import url('https://fonts.googleapis.com/css?family=LatopPrata&display=swap'); 

body{
    margin:10;
    background: rgba(26, 25, 25, 0.918);
    color: rgb(219, 219, 219);
    text-align:center;
}

h1,h2,h3{
    font-family: 'Prata';
    margin-top: 0;
    margin-bottom: 1em;
}
h1{
    border:1px rgb(219, 219, 219) line; 
    background: rgba(61, 60, 60, 0.918);
    margin-bottom:10px;
    height:2em;

}
// pseudo classes
h1::before{
    content: "~ ";
    text-shadow: 2.5px 2.5px rgba(167, 167, 167, 0.918);
  
}

h1::after{
    content: " ~";
    text-shadow: 2.5px 2.5px  rgba(167, 167, 167, 0.918);
}
h3{
    color:rgba(146, 144, 144, 0.918);


}

P{
    font-family: 'Lato';
    color: rgb(214, 212, 212);
    margin-top: 0px;
    margin-bottom: 10px;
}

#container{
    padding: 1em;
    box-shadow: 2px 2px 2px 2px grey;
    
}
article{
    border:1px rgb(219, 219, 219) line; 
    background: rgba(61, 60, 60, 0.918);
}
section{
    column-count:3;
    column-gap: 2em;
}
.section__title,.section__title--description{
    text-align: left;
    margin-left:20px;
}
.section__title{
    color:rgba(199, 199, 199, 0.918);
    font-size: 40px;
    // font-weight:bold;
}
.section__title--description{
    margin-bottom: 30px;
}
#section__num{
    // background-color:rgba(65, 65, 65, 0.918);
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}
.section__num--first,.section__num--second,.section__num--third,.section__num--fourth{
    margin-left:20px;
    margin-right:20px;
}

.container__hr{
    border: 1px double rgba(61, 60, 60, 0.918);

  }
.container__hr--2{
    border: 3px double rgba(61, 60, 60, 0.918);
  }
.container__title{
    text-align:left;
    font-size:10px;
    background: rgba(92, 92, 92, 0.918);
}
.container__title--description{
    margin-bottom:30px;
    color:rgb(214, 212, 212);
}

img{
    border: 1px solid  rgba(146, 144, 144, 0.918);
    border-radius:3px;
}

.container__img{
    margin-bottom:10px;
    height: 400px;
    width:95%;
}
.container__img--2{
    height: 100px;
    width:80%;
    margin:5px;
}
// buttons not linked to anything
button{
    border:none;
}
button:active {
        background-color:rgba(61, 60, 60, 0.918);
        box-shadow: 0 5px #666;
        transform: translateY(4px);  
        // transition: ease-in 0.5s;  
}
#footer{
    display:flex;
    justify-content: space-between;
}
.footer__btn--left, .footer__btn--right{
    height:30px;
    width:50px;
    border-radius:15px; 
    color:white;
    background-color:rgba(131, 131, 131, 0.918);
    text-align: center;
    order:none;
        outline:none;
}
.footer__copyright{
    font-size: 12px;
    margin-top:20px;
}

// Media Query Starts Here

@media only screen and (max-width: 600px) {

    @import url('https://fonts.googleapis.com/css?family=LatopPrata&display=swap');

body{
    margin:5px;
    background: rgba(26, 25, 25, 0.918);
    color: rgb(219, 219, 219);
    text-align:center;
}

h1,h2,h3{
    font-family: 'Prata';
    margin-top: 0;
    margin-bottom: .5em;
}
h1{
    border:1px rgb(219, 219, 219) line; 
    background: rgba(61, 60, 60, 0.918);
    margin-bottom:5px;
    height:1em;

}
h1::before{
    content: "~ ";
    text-shadow: 2px 2px rgba(167, 167, 167, 0.918);;
  
}

h1::after{
    content: " ~";
    text-shadow: 2px 2px rgba(167, 167, 167, 0.918);;
    
}
h3{
    color:rgba(146, 144, 144, 0.918);


}

P{
    font-family: 'Lato';
    color: rgb(214, 212, 212);
    margin-top: 0px;
    margin-bottom: 5px;
}

#container{
    padding: .5em;
    
}
article{
    border:.5px rgb(219, 219, 219) line; 
    background: rgba(61, 60, 60, 0.918);
}
section{
    column-count:3;
    column-gap: 1em;
}
.section__title,.section__title--description{
    text-align: left;
    margin-left:20px;
}
.section__title{
    color:rgba(199, 199, 199, 0.918);
    font-size: 45px;
    // font-weight:bold;
}
.section__title--description{
    margin-bottom:15px;
}
.section__num--first,.section__num--second,.section__num--third{
    margin-left:10px;
    margin-right:10px;
}

.container__hr{
    border: 1px double rgba(61, 60, 60, 0.918);

  }
.container__hr--2{
    border: 3px double rgba(61, 60, 60, 0.918);
  }
.container__title{
    text-align:left;
    font-size:10px;
    background: rgba(92, 92, 92, 0.918);
}
.container__title--description{
    margin-bottom:30px;
    color:rgb(214, 212, 212);
}

img{
    border: 1px solid  rgba(146, 144, 144, 0.918);
    border-radius:3px;
}

.container__img{
    margin-bottom:10px;
    height: 300px;
    width:95%;
    
}
.container__img--2{
    height: 100px;
    width:80%;
    margin:5px;
}
button:active {
    background-color:rgba(61, 60, 60, 0.918);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#footer{
    display:flex;
    justify-content: space-between;
}
.footer__btn--left, .footer__btn--right{
    margin-top:10px;
    height:15px;
    width:50px;
    border-radius:15px; 
    color:white;
    background-color:rgba(131, 131, 131, 0.918);
    text-align: center;
    box-shadow: 0 3px #999;
    order:none;
        outline:none;
}
.footer__copyright{
    margin-top:10px;
    font-size: 12px;
}
}
